---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Bullets from '../components/Bullets.astro'
import RowColumns from '../components/RowColumns.astro'
import ProContro from '../components/ProContro.astro'
import Rivolto from '../components/Rivolto.astro'
import Certificazione from '../components/Certificazione.astro'
import Gallery from '../components/Gallery.astro'
import Step from '../components/Step.astro'
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
import Form from '../components/FormPopup.astro';
import "../styles/global.css";

import videoOne from '../assets/hero-video.webm?url'
import processoApplicazione from '../assets/processo-di-applicazione.webm?url'
import Check from '../assets/icone/check.svg?url'
import imageColumn from '../assets/poliurea-soluzione-definitiva.webp?url'
import Garanzia from '../assets/garanzia.jpg?url'
import ChiSiamoImg from '../assets/chi-siamo-connessioni.jpg?url'
import DoveOperiamo from '../assets/dove-operiamo.webp?url'


const GalleryImages = [
	{src: "/assets/gallery/1.webp"},
	{src: "/assets/gallery/2.webp"},
	{src: "/assets/gallery/3.webp"},
	{src: "/assets/gallery/4.webp"},
	{src: "/assets/gallery/5.webp"},
	{src: "/assets/gallery/6.webp"},
	{src: "/assets/gallery/7.webp"},
	{src: "/assets/gallery/8.webp"},
	{src: "/assets/gallery/9.webp"},
	{src: "/assets/gallery/10.webp"},
	{src: "/assets/gallery/11.webp"},
	{src: "/assets/gallery/12.webp"}
]


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header></Header>
	<Hero></Hero>
	<Bullets></Bullets>
	<RowColumns
	source={videoOne}
	bgColor="#103d51"
	reverse={true}
	>
	<h3 class="text-xl font-bold text-gray-50 leading-[1.2]">Tipologie di immobili <br>su cui possiamo aiutarti</h3>
	<p class="text-medium text-gray-50 mt-5">Le soluzioni di impermeabilizzazione di Maestri della Poliurea <br>si adattano a diverse situazioni e tipologie di immobili. <br>Ecco alcune delle possibili applicazioni:</p>
	<ul class="mt-3 w-full lg:w-8/12">
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Capannoni</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Coperture e tetti piani
		</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Magazzino/Deposito
		</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Parcheggi e Garage interrati
		</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Pavimenti Industriali e Commerciali
		</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Edifici pubblici e statali
		</li>
		<li class="text-gray-50 flex items-center text-base font-semibold py-4"><span><img src={Check} alt="elenco rappresentato da icona" width="30" class="mr-3"/></span>Altri tipologie di edifici industriali
		</li>


	</ul>
	</RowColumns>
	<RowColumns
	source={imageColumn}
	bgColor="#ffffff"
	reverse={false}
	>
	<h3 class="text-xl font-bold leading-[1.2] text-gray-800">Poliurea a spruzzo: <br>la soluzione definitiva</h3>
	<p class="text-medium mt-5 text-gray-800">La poliurea a spruzzo di Krypton Chemical è una soluzione premium per l’impermeabilizzazione. La sua formula brevettata offre protezione superiore e maggiore durata rispetto alle guaine bituminose, che necessitano di frequente manutenzione e sono meno efficaci.<br><br>

		Asciuga rapidamente, si adatta alle variazioni strutturali e resiste a condizioni climatiche estreme e agenti chimici. Questa tecnologia non solo riduce i tempi di lavorazione ma garantisce anche risultati duraturi, supportati da una garanzia decennale.<br><br>
		
		Solo i posatori certificati di Maestri della Poliurea possono applicare questo materiale ottimizzando il tuo investimento.</p>
	</RowColumns>
	<ProContro></ProContro>
	<Certificazione></Certificazione>

	<RowColumns
	source={processoApplicazione}
	bgColor="#103d51"
	reverse={true}
	>
	<h3 class="text-xl font-bold leading-[1.2] text-gray-50">Il processo di Applicazione</h3>
	<p class="text-medium mt-5 text-gray-50">Con Maestri della Poliurea, la protezione del tuo immobile è garantita per un decennio. La nostra rete di posatori certificati Krypton Chemical utilizza esclusivamente materiali di punta, protetti da brevetti per l’impermeabilizzazione a spruzzo.<br><br>
		Grazie all’esperienza e alla tecnologia avanzata dei nostri specialisti, offriamo una garanzia di 10 anni che riflette la nostra fiducia nella qualità e durata delle soluzioni impiegate, proteggendo il tuo investimento nel tempo.</p>
	</RowColumns>

	<RowColumns
	source={Garanzia}
	bgColor="#ffffff"
	reverse={false}
	>
	<h3 class="text-xl font-bold leading-[1.2] text-gray-800">Garanzia 10 Anni	</h3>
	<p class="text-medium mt-5 text-gray-800">Con Maestri della Poliurea, la protezione del tuo immobile è garantita per un decennio. La nostra rete di posatori certificati Krypton Chemical utilizza esclusivamente materiali di punta, protetti da brevetti per l’impermeabilizzazione a spruzzo.<br><br>
		Grazie all’esperienza e alla tecnologia avanzata dei nostri specialisti, offriamo una garanzia di 10 anni che riflette la nostra fiducia nella qualità e durata delle soluzioni impiegate, proteggendo il tuo investimento nel tempo.</p>
	</RowColumns>
	<Rivolto></Rivolto>

	<RowColumns
	source={ChiSiamoImg}
	bgColor="#103d51"
	reverse={true}
	>
	<h3 class="text-xl font-bold leading-[1.2] text-gray-50">Chi Siamo	</h3>
	<p class="text-medium mt-5 text-gray-50">Maestri della Poliurea è una rete di esperti in soluzioni di impermeabilizzazione tramite poliurea a spruzzo per il settore industriale e commerciale. Distributori esclusivi di Krypton Chemical in Italia, usiamo materiali avanzati e brevettati per prestazioni superiori.<br><br>
	Ogni tecnico è selezionato e certificato, garantendo professionalità e rispetto degli alti standard in ogni progetto. Ci impegniamo a fornire soluzioni efficienti e sostenibili, personalizzate per le esigenze dei clienti.<br><br>
	Guidati dalla passione per l’innovazione e un’impeccabile reputazione, Maestri della Poliurea è il partner ideale per garantire la durabilità e l’affidabilità del tuo investimento..</p>
	</RowColumns>
	<Gallery images={GalleryImages}></Gallery>
	<RowColumns
	source={DoveOperiamo}
	bgColor="#ffffff"
	reverse={true}
	>
	<h3 class="text-xl font-bold leading-[1.2] text-gray-800">Dove Operiamo	</h3>
	<p class="text-medium mt-5 text-gray-800">
		Maestri della Poliurea è attiva nelle seguenti regioni italiane, garantendo una presenza solida e coordinata.<br><br>
		La nostra rete di aziende specializzate è guidata e coordinata centralmente, assicurando che ogni progetto sia gestito con la stessa qualità e professionalità. Grazie alla collaborazione sinergica tra le diverse entità regionali, possiamo garantire tempestività e efficienza in ogni fase del processo, dalla consulenza iniziale all’applicazione finale, mantenendo standard elevati in tutto il territorio nazionale.</p>
	</RowColumns>
	<Step></Step>
	<Cta></Cta>
	<Faq></Faq>
	<Footer></Footer>
	<Form></Form>
</Layout>
