---
import Check from '../assets/icone/check.svg?url'
import CheckX from '../assets/icone/x.svg?url'


---

<section class="mt-18 pb-6 px-6 flex justify-center">
    <div class="container flex flex-col">
        <h3 class="text-xxl text-center font-bold text-gray-800 leading-[1.2]">Perchè scegliere la poliurea a spruzzo</h3>
        <div class="container flex flex-col lg:flex-row justify-center mt-10 gap-10">
            <div class="lg:w-4/12 w-full">
                <div class="header-procontro text-center text-gray-50 p-3 text-l font-semibold rounded-2xl" style="background-color: #103d51">Poliurea a spruzzo</div>
                <div class="bg-white p-10 rounded-3xl mt-3">
                    <ul class="mt-3 w-full">
                        <li class="text-gray-800 flex items-center text-medium font-semibold pb-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} width="30" class="mr-3" alt="punto positivo"/></span>Posa rapida e in giornata</li>
                        <li class="text-gray-800 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} width="30" class="mr-3" alt="punto positivo"/></span>Totalmente impermeabilizzante
                        </li>
                        <li class="text-gray-800 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} width="30" class="mr-3" alt="punto positivo"/></span>Investimento a lungo termine
                        </li>
                        <li class="text-gray-800 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={Check} width="30" class="mr-3" alt="punto positivo"/></span>Nessuna manutenzione
                        </li>
                        <li class="text-gray-800 flex items-center text-medium font-semibold pt-4"><span><img src={Check} width="30" class="mr-3" alt="punto positivo"/></span>Massima durata e 10 anni di Garanzia
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:w-4/12 w-full"> 
                <div class="header-procontro text-center text-gray-700 p-3 text-l font-semibold rounded-2xl bg-gray-300">Guaine e rivestimenti
                </div>
                <div class="bg-white p-10 rounded-3xl mt-3">
                    <ul class="mt-3 w-full">
                        <li class="text-gray-600 flex items-center text-medium font-semibold pb-4 border-b-[1px] border-solid border-gray-400"><span><img src={CheckX} width="30" class="mr-3" alt="punto negativo"/></span>Installazione lenta</li>
                        <li class="text-gray-600 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={CheckX} width="30" class="mr-3" alt="punto negativo"/></span>Infiltrazioni inevitabili
                        </li>
                        <li class="text-gray-600 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={CheckX} width="30" class="mr-3" alt="punto negativo"/></span>Costi maggiori
                        </li>
                        <li class="text-gray-600 flex items-center text-medium font-semibold py-4 border-b-[1px] border-solid border-gray-400"><span><img src={CheckX} width="30" class="mr-3" alt="punto negativo"/></span>Continua manutenzione
                        </li>
                        <li class="text-gray-600 flex items-center text-medium font-semibold pt-4"><span><img src={CheckX} width="30" class="mr-3" alt="punto negativo"/></span>Minore durata nel tempo
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</section>